UseTab: Always
BasedOnStyle: GNU
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 0

# C language specifics
Language: Cpp
Standard: Cpp11

AccessModifierOffset: -4

AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Right
AlignOperands: Align

AllowShortFunctionsOnASingleLine: InlineOnly

AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: true
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

DerivePointerAlignment: false

EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: Always

FixNamespaceComments: false

IndentAccessModifiers: false
IndentCaseBlocks: false
IndentCaseLabels: true
IndentPPDirectives: BeforeHash

NamespaceIndentation: All

PointerAlignment: Left

QualifierAlignment: Left

ReferenceAlignment: Left

SortIncludes: false
SpacesInAngles: Never

SpaceBeforeParens: ControlStatements

