[submodule "spdlog"]
	path = Tavern/vendor/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "Tavern/vendor/GLFW"]
	path = Tavern/vendor/GLFW
	url = git@github.com:glfw/glfw.git
[submodule "Tavern/vendor/glm"]
	path = Tavern/vendor/glm
	url = git@github.com:g-truc/glm.git
[submodule "Tavern/vendor/nlohmann_json"]
	path = Tavern/vendor/nlohmann_json
	url = git@github.com:nlohmann/json.git
[submodule "Tavern/vendor/assimp"]
	path = Tavern/vendor/assimp
	url = git@github.com:assimp/assimp.git
[submodule "Taverner/vendor/imgui"]
	path = Taverner/vendor/imgui
	url = git@github.com:ocornut/imgui.git
	branch = docking
