[submodule "Tavern/vendor/imgui"]
	path = Taverner/vendor/imgui
	url = git@github.com:ocornut/imgui.git
	branch = docking
[submodule "Tavern/vendor/ImGuiFileDialog"]
	path = Taverner/vendor/ImGuiFileDialog
	url = git@github.com:aiekick/ImGuiFileDialog.git
